body {
  margin: 1rem 0 2rem;
}

.carousel {
  position: relative;
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel__track-container {
  height: 100%;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.carousel__button img {
  height: 15px;
}

.carousel__button--left {
  left: -35px;
}

.carousel__button--right {
  right: -35px;
}

.carousel__nav {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.carousel__indicator {
  height: 15px;
  width: 15px;
  background: rgba(0, 0, 0, .3);
  border: none;
  border-radius: 50%;
  margin: 0 8px;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, .75);
}